<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">agenda</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-card *ngFor="let agenda of agendas">
  <ion-card-header>
    <ion-card-title>{{agenda.nome_paciente}}</ion-card-title>
    <ion-card-subtitle>{{agenda.responsavel}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>{{ agenda.tarefa }}</ion-card-content>
</ion-card>
